* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(142, 240, 232);
  height: 400px;
  position: relative;
}

.hero__image {
  width: 40%;
}

.hero__paragraph {
  padding: 50px 0 0 50px;
  font-size: 2em;
}

.hero__paragraph--bold {
  margin: 0;
  font-weight: bold;
  font-size: 2.5em;
  position: absolute;
  left: 100px;
  bottom: 40px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.aboutus {
  display: flex;
  margin: 40px auto;
}

.aboutus__one {
  width: 45%;
  margin: 5%;
  padding: 5%;
  text-align: center;
}

.aboutus__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.reading {
  line-height: 2;
  padding: 100px;
}

.reading__paragraph--em {
  font-size: 2em;
}

.reading__paragraph--strong {
  font-size: 2em;
  font-weight: 400;
  padding-left: 100px;
}

@media screen and (max-width: 750px) {
  .reading__paragraph--strong {
    padding-left: 30px;
  }
  .aboutus {
    display: block;
  }
  .aboutus__one {
    width: 100%;
  }
}
